*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/_windows
/inspection
/IntelliLang.xml
/androidEditors.xml
/code.style.schemes.xml
/colors.scheme.xml
/debugger.renderers.xml
/debugger.xml
/diff.xml
/editor.codeinsight.xml
/editor.xml
/find.xml
/github_settings.xml
/gradle.run.settings.xml
/ide.general.xml
/jdk.table.xml
/project.default.xml
/ui.lnf.xml
/web-browsers.xml
/.idea
/templates
androidStudioFirstRun.xml
colors.scheme.xml
customization.xml
debugger.xml